.page {
  margin: 0;
  background-color: #F2F3F5;
  width: 100%;
  height: 100%;
}

.articleContent {
  padding-left: 30px;
  padding-top: 30px;
  color: #989BA1;
}

.postersContent {
  margin: 0;
  padding: 15px 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  justify-content: center;
}

.postersContent img {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 200px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 3px #5D686D;
}

.postersContent li {
  display: flex;
  justify-content: center;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.favData {
  margin: 0;
  padding: 20px 30px;
  display: flex;
  color: #58565B;
}

.favImg {
  margin-right: 6%;
}

.favBox {
  margin-right: 10px;
  display: block;
}

.favBoxTop {
  display: flex;
  justify-content: space-between;
}

.favBoxTitle {
  margin-right: 20px;
  font-size: 25px;
  font-weight: 700;
}

.favBoxButton button {
  color: #58565B;
  background: none;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #989BA1;
  border-radius: 5px;
}

.favBoxDescription {
  padding-top: 25px;
  font-size: large;
  font-weight: 600;
}

@media (max-width: 620px) {
  .postersContent {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
  }
  .postersContent img {
    width: 150px;
  }
  .articleContent {
    padding-top: 15px;
  }
  .favData {
    display: block;
    padding: 10px 30px;
  }
  .favImg img {
    width: 150px;
  }
  .favImg {
    margin-bottom: 3%;
    float: left;
  }
  .favBox {
    display: block;
  }
  .favBoxTop {
    display: block;
  }
  .favBoxTitle {
    font-size: medium;
    margin-bottom: 10px;
  }
  .favBoxDescription {
    padding-top: 10px;
    font-size: small;
    font-weight: 500;
  }
}