.page {
  margin: 0;
  background-color: #F2F3F5;
  width: 100%;
  height: 100%;
}

.articleContent {
  padding-left: 30px;
  padding-top: 30px;
  color: #989BA1;
}

.postersContent {
  margin: 0;
  padding: 15px 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  justify-content: center;
}

.wrapPost {
  position: relative;
}

.wrapPost span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  color: #F2F3F5;
  text-shadow: 12px 12px 12px #474D59;
  font-size: 1.3rem;
  opacity: 0;
}

.wrapPost span:hover {
  opacity: 1;
  background-color: rgba(39, 48, 61, 0.7);
  cursor: pointer;
  border-radius: 6px;
}

.postersContent img {
  text-align: center;
  width: 200px;
  max-width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 3px #5D686D;
}

.noPoster {
  background-image: url("./../../img/noPoster.png");
  background-size: 100%;
  width: 200px;
  height: 300px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 0px 6px 3px #5D686D;
}

.noPoster span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  color: #474D59;
  font-size: 1.3rem;
  border-radius: 6px;
}

.noPoster span:hover {
  color: #F2F3F5;
  background-color: rgba(39, 48, 61, 0.7);
  font-size: 1.3rem;
  opacity: 0.8;
  cursor: pointer;
}

.postersContent li {
  display: flex;
  justify-content: center;
}

.pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.pageBackgroundFav {
  height: 100%;
  min-height: 100vh;
  background-color: #F2F3F5;
}

.favData {
  margin: 0;
  padding: 20px 30px;
  display: flex;
  color: #58565B;
}

.favImg {
  margin-right: 6%;
}

.favBox {
  width: 100%;
  margin-right: 10px;
  display: block;
}

.favBoxTop {
  display: flex;
  justify-content: space-between;
}

.favBoxTitle {
  margin-right: 20px;
  font-size: 25px;
  font-weight: 700;
}

.favBoxButton button {
  color: #58565B;
  background: none;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #989BA1;
  border-radius: 5px;
}

.favBoxDescription {
  padding-top: 25px;
  font-size: large;
  font-weight: 600;
}

@media (max-width: 620px) {
  .postersContent {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding-left: 10px;
  }
  .postersContent img {
    width: 150px;
  }
  .postersContent .noPoster {
    width: 150px;
    height: 225px;
  }
  .articleContent {
    padding-top: 15px;
    padding-left: 15px;
  }
  .favData {
    display: block;
    padding: 10px 30px;
    min-height: 245px;
  }
  .favImg img {
    width: 150px;
  }
  .favImg {
    margin-bottom: 3%;
    float: left;
  }
  .favBox {
    display: block;
  }
  .favBoxTop {
    display: block;
  }
  .favBoxTitle {
    font-size: medium;
    margin-bottom: 10px;
  }
  .favBoxDescription {
    padding-top: 10px;
    font-size: small;
    font-weight: 500;
  }
}